/* element */
.none{
    text-decoration: none;
    color: black;
    background-color: transparent;
}


/* class */
.header{
    padding-top: 3vh;
}
.extra-link{
    text-align: start;
    padding-left:5vw;
}
.underline{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-bottom: 5px; 
    transition: color 0.3s ease;
}
.underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 0.3s ease;
}
.underline:hover::after {
    width: 100%;
}  
.underline:hover {
    color: #000000; /* Thay đổi màu chữ khi hover */
}
.name{
    padding-top: 1vh;
}
.name-main h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}
.more-infor{
    padding-top: 1.5vh;
    display: flex; justify-content: center; align-items: center;
}
.text-header{
    font-size: 1.3vw;
    gap: 1vh;
    
}
/* banner */
.banner{
    margin-top: 2vh;
    
}
.banner-img-left img{
    max-width: 100%;
    height: auto;
    padding-top: 20vh;
}
.banner-img-center img{
    max-width: 100%;
    height: auto;
    padding-top: 5vh;
    display: flex; justify-content: center; align-items: center;
}
.banner-img-right img{
    max-width: 100%;
    height: auto;
    padding-top: 20vh;
}
.text-banner h1{
    color: #D99E30;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw;
    display: flex; justify-content: center; align-items: center;
    padding-top: 5vh;
}
.banner-description{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 450;
}
