.none{
    text-decoration: none;
    background-color: none;
    background-color: transparent;
}
a{
    text-decoration: none;
    background-color: none;
}
.containner{
    position: relative;
    margin-top: 6vh;
}
.image{
    width: 100%;
    height: 60%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Màu đen với độ trong suốt 50% */
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.mg10{
    padding-bottom: 5vh;
    padding-top: 7vh;
    font-size: 3vw;
    margin-top: -7vh;
    display: flex;
    justify-content: center;
}
.mg8{
    text-align: center;
    margin-top: 25vh;
}
.text-spec{
    width: 90%;
    color: aliceblue;
    background-color: transparent;
}
.text-schedule{
    width: 100%;
    color: aliceblue;
    background-color: transparent;
}
.text-spec{
    font-size: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.list-schedule{
    font-size: 3.5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 4vh;
    display: flex;
    justify-items: row;
    justify-content: center;
    gap: 6vw;
    padding-left: 3.5vw;
    padding-right: auto;
}
@media (max-width: 490px) {
    .schedule{
        margin-top: 15%;
    }
    .mg10{
        padding-bottom: 1vh;
    }
    .mg8{
        padding-top: 5vh;
        margin-top: 5vh;
    }
    .list-schedule{
        margin-top: -0.01%;
    }
    .text-schedule{
        font-size: 85%;
    }
}
/* LOCATION */
.location-section{
    margin-top: 4vh;
    position: relative;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.textLocation {
    width: 100%;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 5vw;
    height: 1%;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24%;
}
.img-location{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-location img{
    padding-top: 7vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-location{   
    margin-top: 5%;
    width: 40%;
    height: 50%;
    background-color: black;
    height: 7vh;
    max-width: 50%;
    margin-left: 30%;
        margin-right: 25%;
}
.button-location a{
    font-size: 1.2vw;
    padding: auto auto auto auto;
    color: aliceblue;
    background-color: transparent;
    font-weight: 600;
}
.weight400 {
    position: absolute;
    z-index: 1;
    font-weight: 400;
    font-size: 5vw;
    margin-bottom: 15%;
}
.weight300{
    position: relative;
    z-index: 0;
    padding-left: 1vw;
    font-weight: 300;
    font-size: 1.5vw;
}
.text-trans h1{
    background-color: transparent;
}
@media (max-width: 490px) {
    .weight400{
        margin-top: 3vh;
        font-size: 10vw;
        background-color: transparent;
    }
    .add-de{
        margin-top: 60%;
    }
    .add-de h3{
        font-size: 120%;
    }
    .img-location img{
        margin-top: -15%;
        max-width: 65%;
        border:1px solid #b3b3b3;
        border-radius: 20px;
        border-top: #ffffff;
    }
    .location{
        margin-top: 28%;
    }
    .textLocation{
        position: relative;
        z-index: 1;
        margin-top: -10%;
        margin-bottom: -26%;
        font-size: 10vw;
    }

    .button-location{
        margin-left: 30%;
        margin-right: 25%;
    }
    .button-location a{
        font-size: 50%;
    }
}
/* COUNTDOWN */
.text-count-down{
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 200%;
    margin-top: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-count-down-unit{
    font-size: 60%;
    background-color: transparent;
}
.font-countdown{
    /* font-size: 200%; */
}
/* OUR STORY */
.mgbt15{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
.img-story{
    /* width: 50%; */
    height: 100%;
}
.image-right{
    width: 5%;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.emphasis{
    position: relative;
    font-size: 6vw;
    margin-top: -4%;
    font-weight: 550;
    color: rgb(255, 217, 168);
    font-family:   Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
}
.p2{
    margin-top: 5%;
}
.p2 h1{
    color: #FFB0B0;
}
.p2 h3{
    text-decoration: underline;
    color: #FFD09B;
}
.text-mm{
    font-size: 1.5vw;
    margin-top: 4%;
    font-weight: 550;
    color: #091057;
}
.fit{
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 100%;
    height: auto;
}
@media (max-width: 490px) {
    .mgbt15{
        font-size: 6vw;
        font-weight: 600;
    }
    .p2{
        display: flex;
        align-items: center;
    }
    .fit{
        padding-left: 10%;
        padding-right: 10%;
    }
    .text-mm{
        font-size: 3vw;
    }
    .text-mm-spec{
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5vh;
    }
}

/* FOOTER */
.Footer{
    margin-top: 10%;
}
.footer-right img{
    height: 100%;
}
.footer-head-text{
    position: relative;
    background-color: transparent;
    margin-bottom: -9%;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
}
.footer-head-descrip{
    margin-top: 5%;
}
@media (max-width: 490px) {
    .footer-head-descrip{
        font-family:  Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
    .footer-head-text{
        font-size: 12vw;
    }
}

/* QnA */
.QnA {
    margin-left: 10%;
    margin-right: 10%;
}
.QnA h1{
    margin-top: 10%;
}
.QnA input{
    
    width: 100%;
    height: 80%;
            padding: 10px;
            font-size: 2em;  /* tăng kích thước chữ */
            border: 2px solid #333;
            border-radius: 8px;  /* bo tròn các góc */
}
.send{
    margin-top: 5%;
    border-color: #333;
    font-size: 3vw;
    color: rgb(255, 250, 244);
    border: 2px solid #474747;
    border-radius: 3px;
    background-color: black;
}